<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        @Html.ActionLink("Ecommerce UP", "Index", "Produto", null, new { @class = "navbar-brand" })
    </nav>

    <div id="content" class="container" style="margin-top:30px">
        @RenderBody()
    </div>

        <hr style="margin-top:30px" />
        <footer style="text-align:center">
            <p>&copy; @DateTime.Now.Year - Desenvolvido por Ricardo Ferreira</p>
        </footer>

</body>
</html>
