@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="alert alert-dismissible alert-danger">
    <h2>
        Login ou Senhas inválidos!
    </h2>
</div>
<div>
    @Html.ActionLink("Cadastre-se", "CadastrarUsuario", "Usuario", null, new { @class = "btn btn-info btn-lg" })
    @Html.ActionLink("Tentar novamente", "Login", "Usuario", new { @class = "btn btn-warning btn-lg" })
</div>