
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastrar Produto</title>
</head>
<body>

    <h1> Cadastrar Produto </h1>

    <div> 
    </div>
</body>
</html>
