
@{
    Layout = null;
    DateTime data = ViewBag.Data;
    List<Ecommerce.Models.Produto> produtos = ViewBag.Produtos;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gerenciamento de Produtos</title>
</head>
<body>
    <h1>Gerenciamento de Produtos</h1>
    @*<a href="~/Views/Produto/Cadastrar"> Cadastrar Produto </a>*@

    @* Link em MVC | Razor *@
    @Html.ActionLink("Cadastrar Produto", "CadastrarProduto", "Produto")

    <div>
    </div>

    @data

</body>
</html>
